# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
# empty dictionary
Dict={}
type(Dict)

dict

In [9]:
Dict1=dict()
type(Dict1)

dict

In [3]:
data={'Alabama':'Montgomery',
      'Arizona':'Phoenix', 
      'Georgia':'Atlanta',
      'Kentucky':'Frankfurt',
      'Ohio':'Columbus'}

In [4]:
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus'}

In [5]:
# new entry
data.update({'Louisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge'}

In [6]:
data.update({'Missouri':'Jefferson City',
             'Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [13]:
data['Ohio']

'Columbus'

In [14]:
data['Georgia']

'Atlanta'

In [15]:
data['New york']

KeyError: 'New york'

### Update elements of a dictionary and add new elements

In [15]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'),
    5: ['Saturday', 'Sunday']}

In [16]:
# Access Thursday
day[4][0]

'Thursday'

In [17]:
# Access Sunday
day[5][1]

'Sunday'

In [18]:
day[3]='Wednesday'

In [19]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

In [20]:
# update Saturday to a holiday
day[5][0]='Holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'Sunday'],
 3: 'Wednesday'}

In [21]:
# Update Sunday to holiday
day[5][1]='holiday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holiday', 'holiday'],
 3: 'Wednesday'}

In [22]:
# Update thurday to holiday
# day[4][0]='holiday'
# Can NOT update a tuple

### `get` and `update` methods
- get used to acces a value from dictionary
- update the dictionary with new value also update the old value

In [23]:
# We want to GET wednesday
day.get(6)

In [24]:
# access monday
day.get(1)

'Monday'

In [25]:
day.get(6) # does not provide error even though it isn't an element

In [26]:
# day(6) DOES produce an error

### Delete dictionary items using `del` and `pop`

In [28]:
# delete Alabama using del
data.pop('New York')
data

NameError: name 'data' is not defined

In [23]:
# Delete using pop method
data.pop('Ohio')
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Knetucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [26]:
# Delete the 
del data
data # name error because we deleted the dictionary

NameError: name 'data' is not defined

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [32]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio', 'Knetucky', 'Louisiana', 'Missouri'])

In [33]:
data.values()

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Columbus', 'Louisville', 'Baton Rouge', 'Jefferson City'])

In [34]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Columbus'), ('Knetucky', 'Louisville'), ('Louisiana', 'Baton Rouge'), ('Missouri', 'Jefferson City')])

### Loop through a dictionary

In [35]:
# unpack tje dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>
Knetucky
<class 'str'>
Louisiana
<class 'str'>
Missouri
<class 'str'>

In [36]:
# upack the dictionary values
for j in data.values():
    print(j)

Montgomery
Phoenix
Atlanta
Frankfort
Columbus
Louisville
Baton Rouge
Jefferson City

In [38]:
# dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Columbus')
<class 'tuple'>
('Knetucky', 'Louisville')
<class 'tuple'>
('Louisiana', 'Baton Rouge')
<class 'tuple'>
('Missouri', 'Jefferson City')
<class 'tuple'>

In [39]:
# unpack the dictionary items
for j,k in data.items():
    print("state", j)
    print("Capitol", k)

state Alabama
Capitol Montgomery
state Arizona
Capitol Phoenix
state Georgia
Capitol Atlanta
state Kentucky
Capitol Frankfort
state Ohio
Capitol Columbus
state Knetucky
Capitol Louisville
state Louisiana
Capitol Baton Rouge
state Missouri
Capitol Jefferson City

### Convert dictionary to lists using `list()` function

In [40]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Columbus',
 'Knetucky': 'Louisville',
 'Louisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [43]:
# Convert keys to list
list(data.keys())

['Alabama',
 'Arizona',
 'Georgia',
 'Kentucky',
 'Ohio',
 'Knetucky',
 'Louisiana',
 'Missouri']

In [44]:
# Convert values to list
list(data.values())

['Montgomery',
 'Phoenix',
 'Atlanta',
 'Frankfort',
 'Columbus',
 'Louisville',
 'Baton Rouge',
 'Jefferson City']

### A List in a Dictionary: How to unpack all of the entries?

In [45]:
fav_language={'jen':['python', 'ruby'],
              "sarah":['c'],
              'edward':['ruby', 'java'],
              'phil':['python', 'java']
    
}

In [46]:
fav_language

{'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'java'],
 'phil': ['python', 'java']}

In [51]:
for name, subject in fav_language.items():
    print(f"The name is : {name.title()}. The favourite languages are:")
    for i in subject:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favourite languages are:
						 python
						 ruby
The name is : Sarah. The favourite languages are:
						 c
The name is : Edward. The favourite languages are:
						 ruby
						 java
The name is : Phil. The favourite languages are:
						 python
						 java

###  A Dictionary in a Dictionary

In [52]:
user={'est':{
    'first': 'albert',
    'last': 'einstein',
    'location':'princeton'
},
      'mcurie':{
          'first':'marie',
          'last':'curie',
          'location':'paris'
      }
    
}

In [53]:
user

{'est': {'first': 'albert', 'last': 'einstein', 'location': 'princeton'},
 'mcurie': {'first': 'marie', 'last': 'curie', 'location': 'paris'}}

In [54]:
# albert
user['est']['first']

'albert'

In [56]:
# paris
user['mcurie']['location']

'paris'

In [58]:
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+user_info['last']
    print("full name: ", full_name)
    print("location: ", user_info['location'] )

Username: est
full name:  alberteinstein
location:  princeton
Username: mcurie
full name:  mariecurie
location:  paris

In [49]:
dict={"Key":1, "Key":2}

In [50]:
dict["Key"]

2