# Chapter 8: Functions in Python

## Defining
* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

### This is how you define a function in Python
- def keyword
- name of the function
- (parameters) --> parameters can also be empty
- body of the function

In [1]:
# def name_of_the_function(parameters):
        # Function body
def my_function():
    print("Hello")

In [3]:
# You must 'call' the function...
my_function()

Hello

### Why we need function?

In [4]:
print("2001 Newburg Rd.")

2001 Newburg Rd.

In [5]:
def address():
    print("2001 Newburg Rd.")
address()

2001 Newburg Rd.

### Function with parameters


### The `return` statement: 
* Use inside a function or method to send the function’s result back to the caller. 
* A return statement consists of the `return` keyword followed by an optional return value

* Three Ways to Return a Result to a Function’s Caller
    * **`return`** followed by an expression.
    * **`return`** without an expression implicitly returns **`None`**&mdash;represents the **absence of a value** and **evaluates to `False` in conditions**.
    * **No `return` statement implicitly returns `None`**.

In [6]:
# create a function that return square of a number
import math
def square(x):
    return (math.pow(x,2))

In [11]:
square(19827)

393109929.0

In [12]:
square(10)

100.0

In [13]:
# Cube of numbers
import math
def cube(x):
    return math.pow(x,3)

In [14]:
cube(5)

125.0

In [16]:
# print(x)
# generate name error
# x is a local variable and only valid inside the function

## Our own functions for practice
`Echo` that will act same as print

In [20]:
def echo(data):
    return data
echo("Name")

'Name'

In [21]:
echo(10)

10

In [22]:
def echo_1(data):
    print(data)

In [23]:
echo_1(23)

23

### Practice1 Favorite Book: Write a function called favorite_book() that accepts one parameter, title. 
The function should print a message, such as One of my
favorite books is Alice in Wonderland. Call the function, making sure to
include a book title as an argument in the function call.

In [24]:
def favorite_book(title):
    print(f"One of my favorite books is {title}")

In [30]:
favorite_book(f"Alice in wonderland")

One of my favorite books is Alice in wonderland

### Functions with Multiple Parameters
* `calc_MPG` function that determines the MPG from miles driven and gallons used

In [28]:
def calc_MPG(miles_driven, gallon_used):
    return miles_driven/gallon_used

In [29]:
print(F"The MPG is: {calc_MPG(200, 5)}")

The MPG is: 40.0

## Default Parameter
With default parameters, you can specify a default value that will be used for the function. If you pass a parameter in for the default value, it uses that value instead. 
### def MPG(miles=200,gallon=12)

In [1]:
def MPG(miles=200, gallon=12):
    return miles/gallon
MPG()

16.666666666666668

In [2]:
MPG(miles=210)

17.5

In [3]:
MPG(miles=600, gallon=15)

40.0

###  Function repeat using `for` loop

In [6]:
# echo
def repeat_echo(data, count):
    for i in count:
        print(data)

In [7]:
repeat_echo("Hello", 10)

TypeError: 'int' object is not iterable

## Practice: Define a function called `name` and print your name 20 times using the function

In [9]:
repeat_echo("AJ", 20)

TypeError: 'int' object is not iterable

### Write a function to find maximum of three values

In [ ]:
max(10,20,45)

In [10]:
def maximum(a,b,c):
    if a>b and a>c:
        largest=a
    elif b>c:
        largest=b
    else:
        largest=c
    return largest

In [11]:
maximum(10,45,3)

45

In [12]:
maximum("a", "B", "z")

'z'

In [13]:
maximum("Sun", "Moon", "Earth")

'Sun'

### Practice Example: Define `minimum` function of three values

In [14]:
def minimum(a,b,c):
    if a<b and a<c:
        smallest=a
    elif b<c:
        smallest=b
    else:
        smallest=c
    return smallest

In [17]:
minimum(10,12,15)

10

#  Arbitrary Argument Lists
*  **`*args`**, indicating that the function can receive any number of additional arguments. 
* The `*` before the parameter name tells Python to pack any remaining arguments into a tuple that’s passed to the `args` parameter.

In [18]:
def get_mean(*args):
    return sum(args)/len(args)

In [19]:
get_mean(10,25,100)

45.0

In [20]:
get_mean(5,5,5)

5.0

### Arbitary Argumented list with list

In [21]:
# create a random numbers list having 10 values in it of range 10-50 (incuded)
import random
numbers=[]
for i in range (10):
    x=random.randint(10,50)
    numbers.append(x)
print(numbers)

[13, 29, 44, 32, 32, 19, 41, 18, 25, 43]

In [24]:
# in order to make an argument fit in a list or tuple, just add a star
get_mean(*numbers)

29.6

### More about functions
In this session we looked at the concept of `scope`, working with `random numbers`, `statictics` and using various versions of import to work with different functions in module.

### Scope
* Each identifier has a `scope` that determines where you can use it in your program.

* A local variable’s identifier has **local scope**. 

* Identifiers defined outside any function (or class) have **global scope**—these may include functions, variables and classes.

One thing you don't want to do is create a variable and function with the same name. The variable will "hide" the function and prevent you from calling it. If you execute the cell below it will throw an error.

In [1]:
x=10 # global variable (not in the function)
def scope_of_function():
    num=3 # Only works within a function
    return num*2
scope_of_function()

6

In [2]:
# print(num) name error due to its 'local' scope

NameError: name 'num' is not defined

* By default, you cannot _modify_ a global variable in a function
* Python creates a **new local variable** when you first assign a value to a variable in a function’s block.
* In function `try_to_modify_global`’s block, the local `x` **shadows** the global `x`, making it inaccessible in the scope of the function’s block.

In [5]:
x=10 # global variable (not in the function)
def try_to_modify_global():
    x=3.5
    return x
try_to_modify_global() # in local scope

3.5

In [4]:
print(x) # global

10

* To modify a global variable in a function’s block, you must use a **`global`** statement to declare that the variable is defined in the global scope: "modify_global"

In [10]:
x=10 # global variable (not in the function)
def modify_global():
    global x
    x=3.5
    return x

In [11]:
modify_global()

3.5

In [12]:
print(x)

3.5

## Write functions to find out Area and Perimeter of circle

In [13]:
import math
def area_circle(r):
    return math.pi*math.pow(r,2)

In [17]:
print(f"The are of the circle is: {area_circle(10):.3f}")

The are of the circle is: 314.159

In [18]:

def perimeter_circle(r):
    return 2*math.pi*r
print(f" The perimeter of the circle is: {perimeter_circle(5):.3f}")

 The perimeter of the circle is: 31.416

## Write functions to find out Area and Perimeter of rectangle

In [20]:
def area_rect(b,h):
    return b*h
print(f"The are of the rectange is: {area_rect(5,5):.3f}")

The are of the rectange is: 25.000

In [23]:
def peri_rect(b,h):
    return 2*(b+h)
print(f" The perimeter of the rectangle is: {peri_rect(5,5):.3f}")

 The perimeter of the rectangle is: 20.000